    <div class="container content">
    <div class="row">


      <div class="col-md-8 col-md-offset-2">

          <form action="/create_post">
            <div class="form-group">
              <label for="">Title</label>
              <input type="string" class="form-control" name="title" id="" placeholder="Your Title">
            </div>
            <div class="form-group">
              <label for="">Image URL</label>
              <input type="url" class="form-control" name="image_url" id="" placeholder="Your Title">
            </div>
            <div class="form-group">
              <label for="">Contents</label>
              <textarea class="form-control" name="contents" id="" rows="5" placeholder="I'm just a poor boy from a poor family..."></textarea>
            </div>
            <!-- <textarea class="form-control" rows="3"></textarea> -->
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

        </div>

    </div>
    </div>
